---
import Layout from '../layouts/Layout.astro';
import AnotarPedido from '../components/pedidos/AnotarPedido.vue';
---

<Layout title="Anotar Pedido - Cafetería">
  <main>
    <AnotarPedido client:load />
  </main>
</Layout>
