---
import Layout from '../layouts/Layout.astro';
import ListaPedidos from '../components/pedidos/ListaPedidos.vue';
---

<Layout title="Lista de Pedidos - Cafetería">
  <main>
    <ListaPedidos client:load />
  </main>
</Layout>
