---
import Layout from '../layouts/Layout.astro';
import ReportesComponent from '../components/reportes/Reportes.vue';
---

<Layout title="Reportes - Cafetería">
  <main>
    <ReportesComponent client:load />
  </main>
</Layout>
